
{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">{{ recipe.name }}</h1>
        <p class="badge bg-primary">Date de création : {{ recipe.createdAt|date('d/m/Y') }}</p>
    </div>

    <div class="container mt-4">
        <p>Ingredients </p>
        {% for ingredient in recipe.ingredients %}
        <span class="badge bg-primary">{{ ingredient.name }}</span>
        {% endfor %}
    </div>

    <div class="container mt-4">
    {% if recipe.time %}
        <p>Temps : {{ recipe.time }} minutes</p>
    {% else %}
     Temps non renseigné
    {% endif %}
    </div>

    <div class="container mt-4">
    {% if recipe.nbPeople %}
        <p>Quantité : {{ recipe.nbPeople }} personnes</p>
    {% else %}
         Nombre de personnes non renseigné
    {% endif %}
    </div>

    <div class="container mt-4">
    {% if recipe.difficulty %}
        <p>Difficulté : {{ recipe.difficulty }} sur 5</p>
    {% else %}
         Difficulté non renseigné
    {% endif %}
    </div>


    <div class="container mt-4">
    {% if recipe.price %}
        <p>Prix : {{ recipe.price }}</p>
    {% else %}
         Prix non renseigné
    {% endif %}
    </div>

    <div class="container mt-4">
    {% if recipe.description %}
        <p>Description : {{ recipe.description|raw }}</p>
    {% else %}
         Description non renseigné
    {% endif %}
    </div>


{% endblock %}
