<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>En Vrac Bleu-{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="assets/images/logo/envracbleulogo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En Vrac Bleu est une association qui aide à l'optimisation, à mieux organiser ses aliments, à créer des recettes et à lutter contre le gaspillage alimentaire avec nos ateliers de cuisine.">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Feuilles de styles -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    {# {{ encore_entry_link_tags('app') }} #}
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/_variables/scss">-->

    <!-- Fichiers JS -->
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('assets/js/scripts.js') }}" defer></script>
    {# {{ encore_entry_script_tags('app') }}  #}

</head>
<body>
{% block header %}
    {% include "partials/header.html.twig" %}
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
    {% include "partials/footer.html.twig" %}
{% endblock %}
</body>
</html>
